.navigation a {
  color: #e0e3ea99;
  text-decoration: none;
}

.navigation a:hover {
  color: black;
}

.active {
  box-shadow: 10px 10px 20px rgba(244, 6, 6, 0.5);
}

.account_child a {
  color: #62677399;
  text-decoration: none;
}

.account_child a:hover {
  color: #000;
}

.slidechild {
}

.activechild {
  color: black !important;
}

.form-popup111 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #888;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container select {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  margin: 5px;
}

.form-bt {
  position: relative;
  right: -35%;
  bottom: -10px;
}

/* Overlay to blur background */
.overLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 235, 235, 0.5);
  /* Dark background with opacity */
  z-index: 9;
}

/* load dữ liệu */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  /* Mờ trắng */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner */
.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #d71920;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* mắt */
.eye:hover {
  cursor: pointer;
  color: #ffb42e;
}

.eye {
  margin-top: 12px;
}

/*  */
.arrange.activefilter {
  background-color: #ffb42e;
  color: white;
  border-color: #ffb42e;
}

/* đơn hàng mới */
.notification-bell1 {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.icon-wrapper1 {
  position: relative;
}

.icon-wrapper1 svg {
  width: 24px;
  height: 24px;
}

.badge1 {
  position: absolute;
  top: -5px;
  right: -6px;
  background: red;
  color: white;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 50%;
}

.dropdown-box1 {
  position: absolute;
  right: 0;
  top: 30px;
  width: 260px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  z-index: 1000;
  padding: 10px;
}

.dropdown-title1 {
  font-weight: bold;
  margin-bottom: 8px;
}

.dropdown-empty1 {
  font-size: 14px;
  color: gray;
}

.dropdown-list1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-list1 li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.dropdown-list1 li:last-child {
  border-bottom: none;
}
